
@function st-check-type($value, $type) {
  $type_datas: map-get($-st-test-functions, $type);
  @if ($type_datas == null) {
    @return null;
  }

  $func_name: map-get($type_datas, 'func_name');
  $func_args: map-get($type_datas, 'func_args');
  $deps: map-get($type_datas, 'deps');

  @each $dep in $deps {
    @if not st-check-type($value, $dep) {
      @return false;
    }
  }
  $pass: call($func_name, $value, $func_args...);
  @return $pass;
}
